<div class="row">

    <h1>Estudios</h1>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
<ul>
    <li><h3>"IPET 48 (Presidente Roca)"</h3> - <h5>(2009)-(2015)</h5></li>
    <p>Tecnico superior en Automotores.</p>
</ul>
<ul>
    <li><h3>"UNC- Universidad Nacional de Cordoba"</h3> - <h5>(2020)-(cursando)</h5></li>
    <p>Liciatura en Psicologia.</p>
</ul>
<ul>
    <li><h3>"Argentina Programa"</h3> - <h5>(Actualmente cursando)</h5></li>
    <p>Programador full stack. </p>
</ul>
    </div>
</div>