<div class="row">

    <h1>Experiencia Laboral</h1>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
<ul>
    <li><h3>"La Antonella"</h3> - <h5>(7 Años)</h5></li>
    <p>Organizador de eventos sociales, privados y publicos. Manejo de personal, armado de presupuestos, control de stock, comunicacion y agenda de clientes.</p>
</ul>
<ul>
    <li><h3>"Konecta"</h3> - <h5>(1 año)</h5></li>
    <p>Asesor Comercial, venta de packete "Personal" (Telecom,Cablevision,Fibertel).</p>
</ul>
<ul>
    <li><h3>"Naranja X"</h3> - <h5>(Actualmente trabajando)</h5></li>
    <p>Asesor de cobranza, Manejo de bases de datos, gestion de cobro y emision de facturas. </p>
</ul>
    </div>
</div>