<div class="row">
    <h1>Hard & Soft Skill</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="80"
        [space]="-10"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [innerStrokeColor]="'#C7E596'"
        [innerStrokeWidth]="10"
        [title]="'HTML'"
        [animationDuration]="1000"
        [showUnits]="false"
        [animateTitle]="false"
        [showBackground]="false"
        [clockwise]="false"
        [startFromZero]="true"
        [lazy]="false"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="80"
        [space]="-10"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [innerStrokeColor]="'#C7E596'"
        [innerStrokeWidth]="10"
        [title]="'CSS'"
        [animationDuration]="1000"
        [showUnits]="false"
        [animateTitle]="false"
        [showBackground]="false"
        [clockwise]="false"
        [startFromZero]="true"
        [lazy]="false"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="85"
        [radius]="80"
        [space]="-10"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [innerStrokeColor]="'#C7E596'"
        [innerStrokeWidth]="10"
        [title]="'JS'"
        [animationDuration]="1000"
        [showUnits]="false"
        [animateTitle]="false"
        [showBackground]="false"
        [clockwise]="false"
        [startFromZero]="true"
        [lazy]="false"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="80"
        [radius]="80"
        [space]="-10"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [innerStrokeColor]="'#C7E596'"
        [innerStrokeWidth]="10"
        [title]="'JAVA'"
        [animationDuration]="1000"
        [showUnits]="false"
        [animateTitle]="false"
        [showBackground]="false"
        [clockwise]="false"
        [startFromZero]="true"
        [lazy]="false"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="80"
        [space]="-10"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [innerStrokeColor]="'#C7E596'"
        [innerStrokeWidth]="10"
        [title]="'MySQL'"
        [animationDuration]="1000"
        [showUnits]="false"
        [animateTitle]="false"
        [showBackground]="false"
        [clockwise]="false"
        [startFromZero]="true"
        [lazy]="false"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="80"
        [space]="-10"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [innerStrokeColor]="'#C7E596'"
        [innerStrokeWidth]="10"
        [title]="'GitHub'"
        [animationDuration]="1000"
        [showUnits]="false"
        [animateTitle]="false"
        [showBackground]="false"
        [clockwise]="false"
        [startFromZero]="true"
        [lazy]="false"
    ></circle-progress>
</div>
</div>

