
<div class="row">
    <div class="contenedor">
        <div class="logo">
                <img src="../../../assets/logo.png" id="logoAP">
        </div>

        <div class="redes">
            <div>
                <a href="https://github.com/AgusLescano0"><img src="../../../assets/logo github.png" id="github"></a>
                <a href="https://www.instagram.com/aguslescano0/"><img src="../../../assets/logo instagram.png" id="instagram"></a>
                <a href="https://www.linkedin.com/in/agust%C3%ADn-lescano-057ab7266/"><img src="../../../assets/logo linkedin.png" id="linkedin"></a>
                <a href="https://www.facebook.com/AgusLescano1996"><img src="../../../assets/logo facebook.png" id="facebook"></a>
                <a href="https://wa.me/message/FEXQCQYHPP4GK1"><img src="../../../assets/logo wsp.png" id="wsp"></a>
                <button type="button" class="btn btn-outline-light">INGRESAR</button>
            </div>
        </div>
    </div>
</div>
